<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @order.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @order.longitude %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
